/*========================
         GLOBALS
========================*/

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: gray;
}


/*========================
         HEADER
========================*/

.head {
  background: #6daaad;
  color: #fff;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-right: 1em;
  padding-left: 1em;
}

.head-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.head-text {
  margin-right: auto;
}

.bold {
  font-weight: 900;
}

.light {
  font-weight: 300;
}

.notifyBell {
  margin-right: 10px;
  border-right: 1px solid #fff;
  padding-right: 5px;
  padding-top: 5px
}

.notifyBell img {
  width: 30px;
  height: 30px;
}

.avatar {
  margin-right: 5px;
}

.avatar img {
  border-radius: 50%;
  width: 90%%;
}

/*========================
          NAV
========================*/

.nav {
  background: rgb(52, 91, 93);
  display: flex;
  justify-content: center;
  z-index: 50;
  height: 135px;
}

.nav-list {
  display: flex;
  margin-top: 75px;
}

.nav-list li {
  margin-bottom: 30px;
  width: 60px;
  padding: 1em;
}

/*========================
        CONTAINERS
========================*/

.container {
  background: #edeff0;
  padding: .5em;
}

.box {
  margin-top: 15px;
  margin-bottom: 15px;
}

.flex {
  display: flex;
}

/*========================
          ALERT
========================*/

#alertBar {
    height: 40px;
    background: #6daaad;
    display: flex;
    border-radius: 4px;
    align-items: center;
    padding: 1em;
    color: #fff;
}

.alert1 {
  margin-right: 5px
}

.icon-x {
    margin-left: auto;
    width: 20px;
    height: 20px;
}

/*========================
   DASHBOARD/SEARCHBOX
========================*/

.dashboard {
  display: flex;
  align-items: center;
}

.dash-txt {
  margin-right: auto;
}

#searchBox {
  height: 40px;
  width: 50%;
  border-radius: 4px;
  outline: none;
  border: 1px solid lightgray;
}

/*========================
          CHARTS
========================*/

#traffic-header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.traffic-heading {
  margin-right: auto;
}

#traffic-header a {
  margin-right: 5px;
}

#trafficChart {
  width: 100%;
}

/*========================
      ACTIVE STATES
========================*/

.activeNav {
  border-left: 2px solid #6daaad;
}

.activeTraf {

}
/*========================
        M QUERIES
========================*/

@media screen and (min-width: 768px) {

  .head-text {
    font-size: 1.25em;
  }

  .nav {
    height: 100vh;
    align-items: flex-start;
    position: fixed;

  }

  .nav-list {
    display: block;
    margin-top: 100px;
  }

  .container {
    padding-left: 5em;
    padding-right: 1em;
    padding-top: 5em;
  }

  .box {
    padding: 1em;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 12px 0px #545454;
  }

  .dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #alertBar {
    box-shadow: 0px 2px 12px 0px #545454;
  }

}
