/*========================
         GLOBALS
========================*/

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: gray;
}


/*========================
         HEADER
========================*/

.head {
  background: #6daaad;
  color: #fff;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-right: 1em;
  padding-left: 1em;
}

.head-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.head-text {
  margin-right: auto;
}

.bold {
  font-weight: 900;
}

.light {
  font-weight: 300;
}

.notifyBell {
  margin-right: 10px;
  border-right: 1px solid #fff;
  padding-right: 5px;
  padding-top: 5px
}

.notifyBell img {
  width: 30px;
  height: 30px;
}

.avatar {
  margin-right: 5px;
}

.avatar img {
  border-radius: 50%;
  width: 90%%;
}

/*========================
          NAV
========================*/

.nav {
  background: rgb(52, 91, 93);
  display: flex;
  justify-content: center;
  z-index: 50;
  height: 135px;
}

.nav-list {
  display: flex;
  margin-top: 75px;
}

.nav-list li {
  margin-bottom: 30px;
  width: 60px;
  padding: 1em;
}

.activeNav {
  border-left: 2px solid #6daaad;
}

/*========================
        CONTAINERS
========================*/

main {
  background: #edeff0;
}

.wrapper {
  padding: .5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cont-head {
  margin: 10px 5px;
}

.box {
  margin-bottom: 15px;
  background: #fff;
  border-radius: 4px;
  padding: .5em;
  box-shadow: 0px 1px 4px 0px #545454;
}

.flex-item {
  flex: 1 200px;
}

/*========================
          ALERT
========================*/

#alertBar {
    display: flex;
    align-items: center;
    padding: 1em;
    margin: 20px 5px;
    height: 40px;
    background: #6daaad;
    border-radius: 4px;
    color: #fff;
}

.alert1 {
  margin-right: 5px
}

.icon-x {
    margin-left: auto;
    width: 20px;
    height: 20px;
}

/*========================
   DASHBOARD/SEARCHBOX
========================*/

.dashboard {
  display: flex;
  align-items: center;
}

.dash-txt {
  margin-right: auto;
}

#searchBox {
  font-size: 1em;
  padding-left: .5em;
  height: 40px;
  width: 50%;
  border-radius: 4px;
  border: 1px solid lightgray;
  outline: none;
}

/*========================
   CHART HEADER & LINKS
========================*/

#traffic-header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

#traffic-header span {
  margin-right: auto;
}

#traffic-header a {
  font-size: .85em;
  margin-right: 15px;
  padding: .5em;
  transition: transform .25s;
}

#traffic-header a:hover {
  transform: scale(1.15);
}

#traffic-header a:active {
  transform: scale(1);
}

.activeTraf {
  color: #fff;
  background: #4daf83;
  border-radius: 200px;
  box-shadow: 0px 1px 4px 0px #333;
}

#trafficChart {
  width: 100%;
}

/*========================
      SOCIAL STATS
========================*/

.social-box {
  display: flex;
  flex-wrap: wrap;
  flex: 1 100px;
  padding: 1em;
  margin: 20px 5px;
  background: #e8e8e8;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #484848;
}

.social-s-box {
  display: flex;
  flex-direction: column;
}

.social-net {
  margin-top: 5px;
  margin-bottom: 5px;
}

.social-icon {
  margin: 5px 10px 5px 0px;
  fill: #fff;
  background: rgb(52, 91, 93);
  border-radius: 50%;
}

/*========================
      MEMBER STATS
========================*/

.inner-flex {
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding: .5em .05em;
  border-bottom: 1px solid lightgray;
}

.inner-flex a {
  font-size: .9em;
}

.mem-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.mem-info {
  font-size: .9em;
  margin-top: 0px;
  margin-bottom: 2.5px;
}

.mem-date {
  font-size: .8em;
  margin-left: auto;
}

/*========================
      MSG & SETTINGS
========================*/

#searchUser,
#messageUser,
#sendMessage,
#selectTimezone,
#saveSettings,
#cancel {
  width: 100%;
  font-size: 1em;
  padding-left: .5em;
  border-radius: 4px;
  border: 1px solid lightgray;
  outline: none;
  margin-bottom: 10px;
}

#saveSettings,
#cancel {
  width: 45%;
  height: 40px;
  font-size: 1em;
  padding-left: .5em;
  border-radius: 4px;
  border: 1px solid lightgray;
  outline: none;
  color: #fff;
}

#saveSettings {
  margin-right: auto;
  background: rgb(52, 91, 93);
}

#searchUser {
  height: 40px;
}

#messageUser {
  height: 100px;
  resize: none;
}

#sendMessage {
  height: 40px;
  color: #fff;
  background: rgb(52, 91, 93);
  border: none;
}

#selectTimezone {
  height: 40px;
}

.setting {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    margin-left: auto;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background: rgb(52, 91, 93);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(52, 91, 93);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*========================
        M QUERIES
========================*/

@media screen and (min-width: 768px) {

  .head-text {
    font-size: 1.25em;
  }

  .nav {
    height: 100vh;
    align-items: flex-start;
    position: fixed;

  }

  .nav-list {
    display: block;
    margin-top: 100px;
  }

  .wrapper {
    padding-left: 5em;
    padding-right: 1em;
    padding-top: 5em;
    max-width: 1024px;
    margin: 0 auto;
  }

  .box {
    padding: 1em;
    margin: 20px 5px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px #484848;
  }

  .dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 5px;
  }

  #alertBar {
    box-shadow: 0px 1px 2px 0px #484848;
  }

  .social-stat {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
  }

}
